In [1]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# load all data
raw_data = pd.read_excel('employment_data.xlsx', sheet_name='Data1', skiprows=9)

In [2]:
# copy the raw_data to something that we can work with
data = raw_data.copy()

# we only want the first 4 columns -- we're just looking at hours worked by employees
rename_map = {
    'Series ID': 'date',
    'A84630870K': 'employed_total',
    'A84630874V': 'employed_full_time',
    'A84630875W': 'employed_part_time',
    'A84630871L': 'hours_actually_worked'
}

# select only the specified columns
data = data[list(rename_map.keys())]

# rename the columns
data.rename(columns=rename_map, inplace=True)

# set date as the index
data.set_index('date', inplace=True)

# remember that the data is in thousands of people
data = data * 1000

# only show 1 decimal place  and , for legibility -- we don't convert it differently so that we have the most accurate data possible and no rounding errors
pd.set_option('display.float_format', '{:,.1f}'.format)

In [3]:
display(data.head(2))
print(data.info())

,employed_total,employed_full_time,employed_part_time,hours_actually_worked
date,,,,
1991-02-01,"6,173,467.3","4,886,404.6","1,287,062.7","213,040,030.3"
1991-05-01,"6,153,516.2","4,793,626.9","1,359,889.3","210,606,886.0"

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 137 entries, 1991-02-01 to 2025-02-01
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   employed_total         137 non-null    float64
 1   employed_full_time     137 non-null    float64
 2   employed_part_time     137 non-null    float64
 3   hours_actually_worked  137 non-null    float64
dtypes: float64(4)
memory usage: 5.4 KB
None